In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('direct_marketing.csv', sep=',')

In [5]:
df.head(5)

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,2
4,2,1) $0 - $100,45.34,1,0,Urban,0,Web,Womens E-Mail,0,0,0.0,4

In [6]:
df.recency

0        10
1         6
2         7
3         9
4         2
5         6
6         9
7         9
8         9
9        10
10        7
11        1
12        5
13        2
14        4
15        3
16        5
17        9
18       11
19        5
20        9
21       11
22        2
23        2
24        4
25        6
26       12
27        6
28        7
29        2
         ..
63970     4
63971     5
63972     3
63973     8
63974     8
63975    10
63976     1
63977     8
63978    10
63979    10
63980     3
63981     4
63982     5
63983     2
63984     2
63985     9
63986     9
63987     1
63988     6
63989    10
63990     6
63991     1
63992     1
63993     4
63994     7
63995    10
63996     5
63997     6
63998     1
63999     1
Name: recency, dtype: int64